<div class="container">
  <% notice %>
<h1>ブログ・写真一覧</h1>
<%= link_to "ブログ・写真投稿",new_blog_path, class: 'btn btn-secondary' %>
<br>
<table class="table">
  <thead>
    <tr>
      <th>投稿写真</th>
      <th>プロフィール名</th>
      <th>タイトル</th>
      <th>内容</th>
      <th>詳細</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @blogs.each do |blog|%>
    <tr>
      <td>投稿写真リンクを張って写真表示</td>
      <td>プロフィール名</td>
      <td><%= blog.title %></td>
      <td><%= blog.content %></td>
      <td><%= link_to '詳細', blog_path(blog.id) ,class:'btn btn-secondary' %></td>
      <td>編集リンク</td>
      <td>削除リンク</td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>